<div class="container">
  <div class"row">
    <div class="col-md-12">
      <h1>Musicode</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 box red">
      <p>by <%= link_to "Artist", artists_path %></p>
    </div>
    <div class="col-md-2 box blue">
      <p>by <%= link_to "Album", "#" %></p>
    </div>
    <div class="col-md-2 box green">
      <p>by <%= link_to "Song", "#" %></p>
    </div>
  </div>
</div>
