<div class="container">
  <div class"row">
    <div class="col-md-3">
      <h1>Musicode</h1>
    </div>
    <div class="col-md-2">
      <p>by <%= link_to "Artist", artists_path %></p>
    </div>
    <div class="col-md-2">
      <p>by <%= link_to "Album", "#" %></p>
    </div>
    <div class="col-md-2">
      <p>by <%= link_to "Song", "#" %></p>
    </div>
  </div>
</div>
