<div class="container">
  <h1>Artists</h1>
</div>

<div class="container">

  <% @artists.each do |artist| %>
    <div class="row">

      <div class="col-md-3">
        <p><%= link_to artist.name, artist %></p>
      </div>

      <div class="col-md-3">
        <p><%= artist.genre %></p>
      </div>

    </div>
  <% end %>

</div>
