<div class="container">

  <% @songs.each do |song| %>
    <div class="row">

      <div class="col-md-3">
        <p><%= song.title %></p>
      </div>

      <div class="col-md-3">
        <p><%= song.length %></p>
      </div>

    </div>
  <% end %>

</div>
