// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artist-img {

    padding: 5px;
    border-radius: 5px;

    object-fit: cover;
    overflow: hidden;

    height: auto;
    max-height: 100%;

    width: auto;
    max-width: 100%;
}
